h1, h2, h3, h4{
    color: #DEDEE0;
}
body{
    background-color: #0E103D;
}

nav{
    background-color: transparent;
}

.navbar-brand{
    color: #88C035;
}

.nav-link{
    color: #DEDEE0;
}

.nav-link:hover{
    color: #3F84E5;
}

.homeinfo{
    text-align: center;
}

.aboutmeinfo{
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}

.eduinfo{
    text-align: center;
}

.card{
    /* margin: 0 auto; */
    /* margin-left: 25pt; */
    margin-right: 10pt;
    margin-top: 5pt;
    margin-bottom: 20pt;
}

.tag-list{
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li{
    padding: 1rem;
    background: #DEDEE0;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem  #899499;
}

.scroller{
    /* justify-items: center; */
    margin: 0 auto;
    max-width: 600px;
    /* outline: 3px solid lime; */
    overflow: hidden;

    -webkit-mask: linear-gradient( 
        to right,
        transparent,
        white 10%,
        white 90%,
        transparent
    );

    mask: linear-gradient(90deg, transparent, white 100%, white 100%, transparent);
}

.scroller__inner{
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 10s linear infinite;
}

@keyframes scroll{
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}