*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    color: #DEDEE0;
}
body{
    background-color: #0E103D;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background-color: transparent;
}

.navbar-brand{
    color: #88C035;
    font-size: 35px;
}
.navbar-brand:hover{
    color: #3F84E5;
}
.navbar-brand::after{
    color: #3F84E5
}

.navbar-nav{
    padding-left: 14rem;
}

.nav-link{
    color: #DEDEE0;
}

.nav-link:hover{
    color: #3F84E5;
}

.nav-item{
    font-size: 35px;
}

.projects, .projects2, .projects3{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.text-bg-custom{
    background-color: #3F84E5;
    color: #FFF;
}

.card{
    overflow: hidden;
    transition: box-shadow 0.1s ease-in-out;
}

.card:hover{
    box-shadow: 0 0 8px 10px rgba(246, 243, 243, 0.2), 0 0 20px 10px rgba(255, 255, 255, 0.19);
 }


.card:hover .card-body{
    right: 0;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(5px);
    transition: .4s;
}

.card-body a{
    text-decoration: none;
}

.card-btn{
    background-color:#88C035;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.webapps, .mobapps, .schoolproj{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.webapps h2, .mobapps h2, .schoolproj h2{
    font-size: 45px;
    text-align: center;
}
.webapps hr, .mobapps hr, .schoolproj hr{
    border: none;
    width: 400px;
    height: 1px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.webapps .title, .mobapps .title, .schoolproj .title{
    display: grid;
    justify-content:center;
    align-items: center;
}
.card-text#sp3{
    color: #FFF;
}
.card-title#sp3{
    color: #FFF;
}

.card-text#ma2{
    color: #FFF;
}
.card-title#ma2{
    color: #FFF;
}

.card-text#wa1{
    color: #FFF;
}
.card-title#wa1{
    color: #FFF;
}

@keyframes slideLeftToRight{
    0%{
        /* transform: skewX(53deg) translateX(-500px); */
        transform: translateX(-100%) ;
    }
    100%{
        transform: skew(0deg);
    }
}
@keyframes slideRightToLeft{
    100%{
        transform: translateX(0);
    }
    0%{
        transform: translateX(200%);
    }
}

.webapps.in-view , .projects.in-view , .schoolproj.in-view , .projects3.in-view {
    animation: slideLeftToRight 0.75s ease-in;
}
.mobapps.in-view , .projects2.in-view {
    animation: slideRightToLeft 0.75s ease-in;
}
/* .schoolproj , .projects3{} */